.collection {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-content: start;
    overflow: hidden;
    height: 100%;
}

.collectionContent {
    display: grid;
    gap: 1rem;
    align-content: start;
}

.plusButton , .subButton {
    display: none;
}

.collection .ygocard:hover .plusButton {
    top: 10px;
    position: absolute;
    right: 10px;
    display: block;
    cursor: pointer;
}

.collection .ygocard:hover .subButton {
    top: 10px;
    position: absolute;
    left: 10px;
    display: block;
    cursor: pointer;
}