.secretpack div img {
    width: 100px;
    height: 150px;
    padding: 8px;
    border: 2px solid transparent;
}

.img-wrap {
  position: relative;
  display: inline-block;
}

.img-wrap img {
  display: block;
}

.secretpack .img-wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000000;
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(125, 125, 125, 0) 28%, rgba(118, 114, 84, 0) 41%, rgba(237, 221, 83, 0) 100%);
}

.wide {
    width: 100% !important;
    height: 150px !important;
}

.secretpack span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
}

.secretpack:active {
    border: 2px solid white;
    border-radius: 20px;
}