.secretpack img {
    width: 100px;
    height: 150px;
    padding: 8px;
    border: 2px solid transparent;
}

.secretpack span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
}

.secretpack:active {
    border: 2px solid white;
    border-radius: 20px;
}