.ygocard {
    width: 180px;
    height: 250px;
    border-radius: 12px;
    position: relative;
}

.ygocard img{
    width: 180px;
    height: 250px;
    border-radius: 12px;
}

.ygocard-amount {
    position: absolute;
    bottom: 5px;
    right: 20px;
    color: red !important;
    font-weight: bold;
    font-size: 30px;
}