html {
    height: 100vh;
}

body {
    height: 100%;
}

div[id=root] {
    height: 100%;
}

.main-background {
    background: #000000;
    background: linear-gradient(108deg, rgb(86, 87, 104) 50%, rgb(80, 81, 88) 100%);
}

.h-10 {
    height: 10% !important;
}

.w-1 {
    width: 1% !important
}

.w-90 {
    width: 90% !important
}

.w-95 {
    width: 95% !important
}

* {
    color: white;
    user-select: none;
}