html {
    height: 100vh;
}

body {
    height: 100%;
}

div[id=root] {
    height: 100%;
}

.main-background {
    background: #000000;
    background: linear-gradient(108deg, rgb(86, 87, 104) 50%, rgb(80, 81, 88) 100%);
}

.h-10 {
    height: 10% !important;
}

.h-81 {
    height: 81vh !important; 
}

.w-1 {
    width: 1% !important
}

.w-15 {
    width: 15% !important
}

.w-20 {
    width: 20% !important
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important
}

.w-95 {
    width: 95% !important
}

* {
    color: white;
    user-select: none;
}

/* =========================
   R EFFECT
========================= */

.isR {
    position: relative;

    border-radius: 12px;

    isolation: isolate;

    z-index: 0;
}

.isR::before {
    content: "";

    position: absolute;
    inset: -5px;

    background: rgba(31, 81, 245, 0.534) 7%;

    filter: blur(5px);

    border-radius: inherit;

    z-index: -1;

    pointer-events: none;
}

.isSR {
    position: relative;

    border-radius: 12px;

    isolation: isolate;

    z-index: 0;
}

.isSR::before {
    content: "";
    position: absolute;
    inset: -5px;

    background: linear-gradient(
        108deg,
        rgba(255, 91, 79, 1) 7%,
        rgba(255, 202, 87, 0.47) 44%
    );

    filter: blur(15px);
    border-radius: inherit;
    z-index: -1;
    pointer-events: none;

}


/* =========================
   UR EFFECT
========================= */

.isUR {
    position: relative;

    border-radius: 12px;

    isolation: isolate;

    z-index: 0;
}

.isUR::before {
    content: "";

    position: absolute;
    inset: -5px;

    background: linear-gradient(
        108deg,
        rgba(79, 108, 255, 1) 7%,
        rgba(248, 49, 232, 0.47) 44%
    );

    filter: blur(15px);

    border-radius: inherit;

    z-index: -1;

    pointer-events: none;
}

.machKlick {
    cursor: pointer;
}

.body {
    flex: 1;
    overflow:hidden;
}

