.hiddencard {
    width: 180px;
    height: 250px;
}

.hiddencard img {
    width: 180px;
    height: 250px;
}

.hiddencard.show {
    animation: fadeOut 0.4s ease forwards;
}

.hiddencard.fadein {
    animation: fadeIn 0.4s ease forwards;
}

.isSR {
    position: relative;
    border-radius: 12px;
}

.isSR::before {
    content: "";

    position: absolute;
    inset: -5px;

    background: linear-gradient(
        108deg,
        rgba(255, 91, 79, 1) 7%,
        rgba(255, 202, 87, 0.47) 44%
    );

    z-index: -1;

    filter: blur(15px);

    border-radius: inherit;
}

.isUR {
    position: relative;
    border-radius: 12px;
}

.isUR::before {
    content: "";

    position: absolute;
    inset: -5px;

    background: linear-gradient(
        108deg,
        rgba(79, 108, 255, 1) 7%,
        rgba(87, 252, 255, 0.47) 44%
    );

    z-index: -1;

    filter: blur(15px);

    border-radius: inherit;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}