
.searchbar {
    border: 1px solid #0d1931;
    background: #00081b;
    border-radius: 5px;
    padding: 10px;
}

.searchbar input {
    background: transparent;
    border:none
}

.searchbar input:focus-visible {
    outline:none;
}

input[type="text"]
{
    font-size:13px;
}